.titletwo {
	text-align: center;
	color: rgb(116, 116, 116);
}

.titlethree {
	text-align: center;
	margin-bottom: 20px;
	color: rgb(158, 158, 158);
}

.paragraphtwo {
	text-align: center;
	color: rgb(116, 116, 116);
}

.content-inf {
	color: rgb(175, 175, 175);
	text-align: center;
}

.content-about {
	background: rgb(245, 245, 245);
}

.img-logo {
	padding: 15px;
	width: 130px;
}

.title {
	color: #2073e0;
	font-size: 50px;
}

.subtitle {
	color: rgb(75, 75, 75);
}

.paragraph {
	color: rgb(88, 88, 88);
}


 
  .scroll-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  .js-scroll.scrolled {
    opacity: 1;
  }
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }
   @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }