.title-form {
    margin: 80px 0 20px 0;
}

.title-form h1{
    padding: auto;
    vertical-align: bottom;
    font-size: x-large;
    font-weight: bold;
    display: inline;
}
.main {
    margin-bottom: 50px;
}
.icon-input{
    position: relative;
}
.icon-input i{
    position: absolute;
    left: 15px;
    top: 12px;
    color: gray;
}
.padding-inputs{
    padding-left: 38px;
}

.redondeo{
    border-radius: 15px;
}